html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  :root {
    /* color palette */

    --color-white: #F2EFE7;
    --color-lightblue: #9ACBD0;
    --color-turquoise: #48A6A7;
    --color-darkblue: #2973B2;

    /* padding size  */

    --pd-small: 8px;
    --pd-medium: 16px;
    --pd-large: 32px;
    --pd-extra-large: 56px;
  }