html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  :root {
    /* color palette */

    --color-white: #F2EFE7;
    --color-lightblue: #9ACBD0;
    --color-turquoise: #48A6A7;
    --color-clearblue: #91C0F8;
    --color-darkblue: #2973B2;
    --color-darkerblue: #16468E;
    --color-transparent-darkblue: rgba(14, 47, 132, 0.5);

    /* padding size  */

    --pd-small: 8px;
    --pd-medium: 16px;
    --pd-large: 32px;
    --pd-extra-large: 56px;
  }

  body {
    background-color: var(--color-darkblue);
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  .weather_app_container {
    padding-top: var(--pd-medium);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: var(--pd-medium);
    max-width: 1200px;
  }

  .search_container {
    grid-column: 1 / 4;
    background-color: var(--color-transparent-darkblue);
    border-radius: var(--pd-small);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--pd-large);
    padding: var(--pd-large) var(--pd-large);
    

    input {
      flex: 1;
      width: 100%;
      height: 40px;
      border-radius: var(--pd-small);
      padding-left: var(--pd-small);
      font-weight: bold;
    }

    button {
      flex: 0;
      width: 100%;
      height: 40px;
      border-radius: var(--pd-small);
      background-color: var(--color-clearblue);
      color: white;
      font-weight: bold;
      border: none;
      padding: var(--pd-small) var(--pd-large);
      transition: .3s;
    }

    button:hover {
      color: var(--color-white);
      background-color: var(--color-turquoise);
      font-size: var(--pd-medium);
      border: white solid 3px;
      font-weight: bold;
      
      cursor: pointer;
    }

  }

  .weather_container {
    grid-column: 1 / 4;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    .temperature_details {

      padding-right: var(--pd-extra-large);

      h1 {
        font-size: 48px;
        font-weight: bold;
      }
      h2 {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: var(--pd-medium);
      }

      p {
        font-weight: bold; 
        color: #91C0F8;
      }

    }

    img {
      max-width: 400px;
      width: 300px;
      min-width: 150px;
      height: auto;
    }

  }

  .weather_trend_container {
    border-radius: var(--pd-small);
    grid-column: 1 / 4;
    grid-row: 3;
    padding: var(--pd-medium);
    background-color: var(--color-transparent-darkblue);


    .time_container {
      display: flex;
      justify-content: space-between;
      min-width: 1000px;

      div {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          width: 100%;
          height: auto;
          margin: var(--pd-small) 0;
        }

        h4:last-of-type {
          font-weight: bold;
        }
      }
    }

    canvas {
      width: 100%;
      min-width: 1000px;
      padding: var(--pd-small) 0;
      
    }

    .percentage_container {
      display: flex;  
      justify-content: space-between;
      min-width: 1000px;
      .percentage_holder {
        
        display: flex;
        flex-direction: column-reverse;
        gap: var(--pd-small);
        align-items: center;
      }
    }
  }


  .weather_details_container {

    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--pd-medium);

    .details_container {

      background-color: var(--color-transparent-darkblue);
      padding: var(--pd-medium);
      border-radius: var(--pd-small);
      
      div {
        display: flex;
        gap: 5px;
      }

      h4 {
        padding-top: var(--pd-medium);
      }
    }
  }

  .days_container {

    .week_list {
      background-color: var(--color-transparent-darkblue);
      max-width: 400px;
      padding: var(--pd-medium);
      border-radius: var(--pd-medium);

      li {

        display: grid;
        grid-template-columns: 1.5fr repeat(4, 1fr);
        padding: 4px 0;
        gap: var(--pd-small);
      }

      .percentage_holder {
        display: flex;
        align-items: center;
      }

      img {
        width: 36px;
        height: auto;
      }
    }
  }

  .day_cycle_container {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-transparent-darkblue);
    border-radius: var(--pd-small);

    img {
      width: 300px;
      height: auto;
      object-fit: contain;
      overflow: hidden;
    }

  }

  @media (max-width: 1100px){

    body {
      padding: var(--pd-small);
    }

    .weather_container {
      grid-column: 1 / 4;
      grid-row-start: 2;
      justify-content: space-between;
      padding: var(--pd-medium) var(--pd-small);

      img {
        margin-right: var(--pd-large);
      }
    }

    .search_container {
      grid-column: 1 / 4;
      grid-row-start: 1;
      gap: var(--pd-small);
      flex-direction: row;

      input, button {
        /* hiehgto ofi nput button */
        
        height: 40px;
      }

      input {
        flex: 3;
      }

      button {
        flex: 1;
      }
    }

    .weather_trend_container{
      grid-column: 1 / 4;
      overflow-x: auto;
      grid-row-start: 3
      ;
    }

    .weather_details_container {

      grid-column: 1 / 4;
      grid-row-start: 4;
    }


    .days_container {
      grid-row-start: 5;
      grid-column: 1 / 4;

      .week_list {
        max-width: 100%;
        min-width: 350px;

        h4 {
          font-weight: bold;
        }
      }
    }

    .day_cycle_container {
      width: 100%;
      grid-row-start: 6;
      grid-column: 1 / 4;
    }
  }

  @media(max-width: 700px) {
    .weather_container {
      flex-direction: column;
      align-items: center;
      gap: var(--pd-medium);

      img {
        width: 100%;
      }
    }
  }